<form class="form-group">
  <div class="form-group">
    <label>Name</label>
      <input type="text" class="form-control" placeholder="Name">
  </div>

  <div class="forn-group">
    <label>TEXT</label>
    <textarea class="form-control" rows="3" placeholder="Typed text..."></textarea>
  </div>


  <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
  </div>
</form>
